<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <title>Distributore</title>
    <style>
       

    </style>
</head>
<body>
    
    <h2> Tessere </h2>
   
    <table  class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Codice</th>
        <th scope="col">Credito</th>
          
      </tr>
      </thead>
      <tbody>
      <tr th:each="tessera, stats : ${tessere}">
            <td></td>
          <td th:text="${tessera.codice}"></td>
          <td th:text="${tessera.credito}"></td>
          <td ><button style="position:relative;"  class="btn btn-outline-secondary" id="button-addon2" th:onclick="@{'addcredit(' + ${tessera.id} + ')'}">Aggiungi credito</button> </td>

          
         </tr>
      </tbody>
  </table>
  <button style="position:relative;"  class="btn btn-outline-secondary" id="button-addon2" onclick="add()">Aggiungi</button>
  <button style="position:relative;"  class="btn btn-outline-secondary" id="button-addon2" onclick="home()">Bevande</button>

  <script>
    function add() {
        let url="/tessere/add";
        location.href= url;
    }
    function home() {
        let url="/bevande";
        location.href= url;
    }

    function addcredit() {
        let url="@{'/tessere/' + ${tessera.id} + '/addcredit'}";
        location.href= url;
    }
    function addcredit(id){
            location.href="/tessere/" + id + "/addcredit";
        }
  </script>


      
    
</body>
</html>